body {
  margin: 0;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 300;
  font-style: normal;
  background-color: #353C67;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
